@model IEnumerable<AccountEnterprise.Application.Dtos.OperationTypeDto>
@{
    Layout = "_Layout";
}

<h2>Список типов операций</h2>
<a class="btn btn-primary" asp-controller="OperationTypes" asp-action="Create">Создать новый тип операции</a>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var type in Model)
        {
            <tr>
                <td>@type.Name</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="OperationTypes" asp-action="Details" asp-route-id="@type.OperationTypeId">Подробнее</a> |
                    <a class="btn btn-sm btn-danger" asp-controller="OperationTypes" asp-action="Delete" asp-route-id="@type.OperationTypeId">Удалить</a>
                </td> 
            </tr>
        }
    </tbody>
</table>

