@model IEnumerable<AccountEnterprise.Application.Dtos.CategoryDto>
@{
    Layout = "_Layout";
}


<h2>Категории</h2>
<a asp-controller="Categories" asp-action="Create">Создать новую категорию</a>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">Детали</a>        
                    <a asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
